/*
		Document	: clbaldwi
		Created on: Jun 1, 2013
		Author	:		Crystal Grewe
		Description:
								Print Style for Group Project/Design Course website

*/

body, #syllabus, #assignments, #lectures, #sick, #calendar, #submitAssignment, #displayAssign, #wrapper, #candyWrapper, #slide
{
color: black !important; 
background: white !important; 
font: 12pt "Times New Roman", "TimesNR", "Times", "serif";
padding-left: 5%; padding-right: 5%;
text-decoration: none;
}



li
{
display: inline;
}

ol
{
list-style-type: none;
display: inline;
}

/*for the h1 to appear at the top*/
h1 
{
position: absolute; text-align: center; font: 14pt "Times New Roman", "TimesNR", "Times", "serif"; color: black; padding: .5em;
page-break-after: avoid;
}

h2
{
Font: 12pt "Times New Roman","TimesNR", "Times", "serif"; color: black; font-weight: bold;
page-break-after: avoid;
}

p
{
page-break-after: avoid;
}





